Package: com.noisyflake.wificarrier
Name: WiFiCarrier
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Display the WiFi SSID as Carrier
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
